<template name="icons">
  <div class="icons">
    <!-- https://www.flag-sprites.com/en_US/ -->
    {{> Icon className='icons__flag' country='ad'}}
    {{> Icon className='icons__flag' country='ae'}}
    {{> Icon className='icons__flag' country='af'}}
    {{> Icon className='icons__flag' country='ag'}}
    {{> Icon className='icons__flag' country='ai'}}
    {{> Icon className='icons__flag' country='al'}}
    {{> Icon className='icons__flag' country='am'}}
    {{> Icon className='icons__flag' country='an'}}
    {{> Icon className='icons__flag' country='ao'}}
    {{> Icon className='icons__flag' country='ar'}}
    {{> Icon className='icons__flag' country='as'}}
    {{> Icon className='icons__flag' country='at'}}
    {{> Icon className='icons__flag' country='au'}}
    {{> Icon className='icons__flag' country='aw'}}
    {{> Icon className='icons__flag' country='az'}}
    {{> Icon className='icons__flag' country='ba'}}
    {{> Icon className='icons__flag' country='bb'}}
    {{> Icon className='icons__flag' country='bd'}}
    {{> Icon className='icons__flag' country='be'}}
    {{> Icon className='icons__flag' country='bf'}}
    {{> Icon className='icons__flag' country='bg'}}
    {{> Icon className='icons__flag' country='bh'}}
    {{> Icon className='icons__flag' country='bi'}}
    {{> Icon className='icons__flag' country='bj'}}
    {{> Icon className='icons__flag' country='bm'}}
    {{> Icon className='icons__flag' country='bn'}}
    {{> Icon className='icons__flag' country='bo'}}
    {{> Icon className='icons__flag' country='br'}}
    {{> Icon className='icons__flag' country='bs'}}
    {{> Icon className='icons__flag' country='bt'}}
    {{> Icon className='icons__flag' country='bw'}}
    {{> Icon className='icons__flag' country='by'}}
    {{> Icon className='icons__flag' country='bz'}}
    {{> Icon className='icons__flag' country='ca'}}
    {{> Icon className='icons__flag' country='cd'}}
    {{> Icon className='icons__flag' country='cf'}}
    {{> Icon className='icons__flag' country='cg'}}
    {{> Icon className='icons__flag' country='ch'}}
    {{> Icon className='icons__flag' country='ci'}}
    {{> Icon className='icons__flag' country='ck'}}
    {{> Icon className='icons__flag' country='cl'}}
    {{> Icon className='icons__flag' country='cm'}}
    {{> Icon className='icons__flag' country='cn'}}
    {{> Icon className='icons__flag' country='co'}}
    {{> Icon className='icons__flag' country='cr'}}
    {{> Icon className='icons__flag' country='cu'}}
    {{> Icon className='icons__flag' country='cv'}}
    {{> Icon className='icons__flag' country='cy'}}
    {{> Icon className='icons__flag' country='cz'}}
    {{> Icon className='icons__flag' country='de'}}
    {{> Icon className='icons__flag' country='dj'}}
    {{> Icon className='icons__flag' country='dk'}}
    {{> Icon className='icons__flag' country='dm'}}
    {{> Icon className='icons__flag' country='do'}}
    {{> Icon className='icons__flag' country='dz'}}
    {{> Icon className='icons__flag' country='ec'}}
    {{> Icon className='icons__flag' country='ee'}}
    {{> Icon className='icons__flag' country='eg'}}
    {{> Icon className='icons__flag' country='eh'}}
    {{> Icon className='icons__flag' country='er'}}
    {{> Icon className='icons__flag' country='es'}}
    {{> Icon className='icons__flag' country='et'}}
    {{> Icon className='icons__flag' country='fi'}}
    {{> Icon className='icons__flag' country='fj'}}
    {{> Icon className='icons__flag' country='fm'}}
    {{> Icon className='icons__flag' country='fo'}}
    {{> Icon className='icons__flag' country='fr'}}
    {{> Icon className='icons__flag' country='ga'}}
    {{> Icon className='icons__flag' country='gb'}}
    {{> Icon className='icons__flag' country='gd'}}
    {{> Icon className='icons__flag' country='ge'}}
    {{> Icon className='icons__flag' country='gg'}}
    {{> Icon className='icons__flag' country='gh'}}
    {{> Icon className='icons__flag' country='gi'}}
    {{> Icon className='icons__flag' country='gl'}}
    {{> Icon className='icons__flag' country='gm'}}
    {{> Icon className='icons__flag' country='gn'}}
    {{> Icon className='icons__flag' country='gp'}}
    {{> Icon className='icons__flag' country='gq'}}
    {{> Icon className='icons__flag' country='gr'}}
    {{> Icon className='icons__flag' country='gt'}}
    {{> Icon className='icons__flag' country='gu'}}
    {{> Icon className='icons__flag' country='gw'}}
    {{> Icon className='icons__flag' country='gy'}}
    {{> Icon className='icons__flag' country='hk'}}
    {{> Icon className='icons__flag' country='hn'}}
    {{> Icon className='icons__flag' country='hr'}}
    {{> Icon className='icons__flag' country='ht'}}
    {{> Icon className='icons__flag' country='hu'}}
    {{> Icon className='icons__flag' country='id'}}
    {{> Icon className='icons__flag' country='ie'}}
    {{> Icon className='icons__flag' country='il'}}
    {{> Icon className='icons__flag' country='im'}}
    {{> Icon className='icons__flag' country='in'}}
    {{> Icon className='icons__flag' country='iq'}}
    {{> Icon className='icons__flag' country='ir'}}
    {{> Icon className='icons__flag' country='is'}}
    {{> Icon className='icons__flag' country='it'}}
    {{> Icon className='icons__flag' country='je'}}
    {{> Icon className='icons__flag' country='jm'}}
    {{> Icon className='icons__flag' country='jo'}}
    {{> Icon className='icons__flag' country='jp'}}
    {{> Icon className='icons__flag' country='ke'}}
    {{> Icon className='icons__flag' country='kg'}}
    {{> Icon className='icons__flag' country='kh'}}
    {{> Icon className='icons__flag' country='ki'}}
    {{> Icon className='icons__flag' country='km'}}
    {{> Icon className='icons__flag' country='kn'}}
    {{> Icon className='icons__flag' country='kp'}}
    {{> Icon className='icons__flag' country='kr'}}
    {{> Icon className='icons__flag' country='kw'}}
    {{> Icon className='icons__flag' country='ky'}}
    {{> Icon className='icons__flag' country='kz'}}
    {{> Icon className='icons__flag' country='la'}}
    {{> Icon className='icons__flag' country='lb'}}
    {{> Icon className='icons__flag' country='lc'}}
    {{> Icon className='icons__flag' country='li'}}
    {{> Icon className='icons__flag' country='lk'}}
    {{> Icon className='icons__flag' country='lr'}}
    {{> Icon className='icons__flag' country='ls'}}
    {{> Icon className='icons__flag' country='lt'}}
    {{> Icon className='icons__flag' country='lu'}}
    {{> Icon className='icons__flag' country='lv'}}
    {{> Icon className='icons__flag' country='ly'}}
    {{> Icon className='icons__flag' country='ma'}}
    {{> Icon className='icons__flag' country='mc'}}
    {{> Icon className='icons__flag' country='md'}}
    {{> Icon className='icons__flag' country='me'}}
    {{> Icon className='icons__flag' country='mg'}}
    {{> Icon className='icons__flag' country='mh'}}
    {{> Icon className='icons__flag' country='mk'}}
    {{> Icon className='icons__flag' country='ml'}}
    {{> Icon className='icons__flag' country='mm'}}
    {{> Icon className='icons__flag' country='mn'}}
    {{> Icon className='icons__flag' country='mo'}}
    {{> Icon className='icons__flag' country='mq'}}
    {{> Icon className='icons__flag' country='mr'}}
    {{> Icon className='icons__flag' country='ms'}}
    {{> Icon className='icons__flag' country='mt'}}
    {{> Icon className='icons__flag' country='mu'}}
    {{> Icon className='icons__flag' country='mv'}}
    {{> Icon className='icons__flag' country='mw'}}
    {{> Icon className='icons__flag' country='mx'}}
    {{> Icon className='icons__flag' country='my'}}
    {{> Icon className='icons__flag' country='mz'}}
    {{> Icon className='icons__flag' country='na'}}
    {{> Icon className='icons__flag' country='nc'}}
    {{> Icon className='icons__flag' country='ne'}}
    {{> Icon className='icons__flag' country='ng'}}
    {{> Icon className='icons__flag' country='ni'}}
    {{> Icon className='icons__flag' country='nl'}}
    {{> Icon className='icons__flag' country='no'}}
    {{> Icon className='icons__flag' country='np'}}
    {{> Icon className='icons__flag' country='nr'}}
    {{> Icon className='icons__flag' country='nz'}}
    {{> Icon className='icons__flag' country='om'}}
    {{> Icon className='icons__flag' country='pa'}}
    {{> Icon className='icons__flag' country='pe'}}
    {{> Icon className='icons__flag' country='pf'}}
    {{> Icon className='icons__flag' country='pg'}}
    {{> Icon className='icons__flag' country='ph'}}
    {{> Icon className='icons__flag' country='pk'}}
    {{> Icon className='icons__flag' country='pl'}}
    {{> Icon className='icons__flag' country='pr'}}
    {{> Icon className='icons__flag' country='ps'}}
    {{> Icon className='icons__flag' country='pt'}}
    {{> Icon className='icons__flag' country='pw'}}
    {{> Icon className='icons__flag' country='py'}}
    {{> Icon className='icons__flag' country='qa'}}
    {{> Icon className='icons__flag' country='re'}}
    {{> Icon className='icons__flag' country='ro'}}
    {{> Icon className='icons__flag' country='rs'}}
    {{> Icon className='icons__flag' country='ru'}}
    {{> Icon className='icons__flag' country='rw'}}
    {{> Icon className='icons__flag' country='sa'}}
    {{> Icon className='icons__flag' country='sb'}}
    {{> Icon className='icons__flag' country='sc'}}
    {{> Icon className='icons__flag' country='sd'}}
    {{> Icon className='icons__flag' country='se'}}
    {{> Icon className='icons__flag' country='sg'}}
    {{> Icon className='icons__flag' country='si'}}
    {{> Icon className='icons__flag' country='sk'}}
    {{> Icon className='icons__flag' country='sl'}}
    {{> Icon className='icons__flag' country='sm'}}
    {{> Icon className='icons__flag' country='sn'}}
    {{> Icon className='icons__flag' country='so'}}
    {{> Icon className='icons__flag' country='sr'}}
    {{> Icon className='icons__flag' country='st'}}
    {{> Icon className='icons__flag' country='sv'}}
    {{> Icon className='icons__flag' country='sy'}}
    {{> Icon className='icons__flag' country='sz'}}
    {{> Icon className='icons__flag' country='tc'}}
    {{> Icon className='icons__flag' country='td'}}
    {{> Icon className='icons__flag' country='tg'}}
    {{> Icon className='icons__flag' country='th'}}
    {{> Icon className='icons__flag' country='tj'}}
    {{> Icon className='icons__flag' country='tl'}}
    {{> Icon className='icons__flag' country='tm'}}
    {{> Icon className='icons__flag' country='tn'}}
    {{> Icon className='icons__flag' country='to'}}
    {{> Icon className='icons__flag' country='tr'}}
    {{> Icon className='icons__flag' country='tt'}}
    {{> Icon className='icons__flag' country='tv'}}
    {{> Icon className='icons__flag' country='tw'}}
    {{> Icon className='icons__flag' country='tz'}}
    {{> Icon className='icons__flag' country='ua'}}
    {{> Icon className='icons__flag' country='ug'}}
    {{> Icon className='icons__flag' country='us'}}
    {{> Icon className='icons__flag' country='uy'}}
    {{> Icon className='icons__flag' country='uz'}}
    {{> Icon className='icons__flag' country='va'}}
    {{> Icon className='icons__flag' country='vc'}}
    {{> Icon className='icons__flag' country='ve'}}
    {{> Icon className='icons__flag' country='vg'}}
    {{> Icon className='icons__flag' country='vi'}}
    {{> Icon className='icons__flag' country='vn'}}
    {{> Icon className='icons__flag' country='vu'}}
    {{> Icon className='icons__flag' country='ws'}}
    {{> Icon className='icons__flag' country='ye'}}
    {{> Icon className='icons__flag' country='za'}}
    {{> Icon className='icons__flag' country='zm'}}
    {{> Icon className='icons__flag' country='zw'}}
  </div>
</template>
