<template name="am">
  <section class="am">
    <!-- spotify icons -->
    <div class="am__icon" data-am-ionicon="alert"></div>
    <div class="am__icon" data-am-ionicon="alert-circled"></div>
    <div class="am__icon" data-am-ionicon="android-add"></div>
    <div class="am__icon" data-am-ionicon="android-add-circle"></div>
    <div class="am__icon" data-am-ionicon="android-alarm-clock"></div>
    <div class="am__icon" data-am-ionicon="android-alert"></div>
    <div class="am__icon" data-am-ionicon="android-apps"></div>
    <div class="am__icon" data-am-ionicon="android-archive"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-back"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-down"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-dropdown"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-dropdown-circle"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-dropleft"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-dropleft-circle"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-dropright"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-dropright-circle"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-dropup"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-dropup-circle"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-forward"></div>
    <div class="am__icon" data-am-ionicon="android-arrow-up"></div>
    <div class="am__icon" data-am-ionicon="android-attach"></div>
    <div class="am__icon" data-am-ionicon="android-bar"></div>
    <div class="am__icon" data-am-ionicon="android-bicycle"></div>
    <div class="am__icon" data-am-ionicon="android-boat"></div>
    <div class="am__icon" data-am-ionicon="android-bookmark"></div>
    <div class="am__icon" data-am-ionicon="android-bulb"></div>
    <div class="am__icon" data-am-ionicon="android-bus"></div>
    <div class="am__icon" data-am-ionicon="android-calendar"></div>
    <div class="am__icon" data-am-ionicon="android-call"></div>
    <div class="am__icon" data-am-ionicon="android-camera"></div>
    <div class="am__icon" data-am-ionicon="android-cancel"></div>
    <div class="am__icon" data-am-ionicon="android-car"></div>
    <div class="am__icon" data-am-ionicon="android-cart"></div>
    <div class="am__icon" data-am-ionicon="android-chat"></div>
    <div class="am__icon" data-am-ionicon="android-checkbox"></div>
    <div class="am__icon" data-am-ionicon="android-checkbox-blank"></div>
    <div class="am__icon" data-am-ionicon="android-checkbox-outline"></div>
    <div class="am__icon" data-am-ionicon="android-checkbox-outline-blank"></div>
    <div class="am__icon" data-am-ionicon="android-checkmark-circle"></div>
    <div class="am__icon" data-am-ionicon="android-clipboard"></div>
    <div class="am__icon" data-am-ionicon="android-close"></div>
    <div class="am__icon" data-am-ionicon="android-cloud"></div>
    <div class="am__icon" data-am-ionicon="android-cloud-circle"></div>
    <div class="am__icon" data-am-ionicon="android-cloud-done"></div>
    <div class="am__icon" data-am-ionicon="android-cloud-outline"></div>
    <div class="am__icon" data-am-ionicon="android-color-palette"></div>
    <div class="am__icon" data-am-ionicon="android-compass"></div>
    <div class="am__icon" data-am-ionicon="android-contact"></div>
    <div class="am__icon" data-am-ionicon="android-contacts"></div>
    <div class="am__icon" data-am-ionicon="android-contract"></div>
    <div class="am__icon" data-am-ionicon="android-create"></div>
    <div class="am__icon" data-am-ionicon="android-delete"></div>
    <div class="am__icon" data-am-ionicon="android-desktop"></div>
    <div class="am__icon" data-am-ionicon="android-document"></div>
    <div class="am__icon" data-am-ionicon="android-done"></div>
    <div class="am__icon" data-am-ionicon="android-done-all"></div>
    <div class="am__icon" data-am-ionicon="android-download"></div>
    <div class="am__icon" data-am-ionicon="android-drafts"></div>
    <div class="am__icon" data-am-ionicon="android-exit"></div>
    <div class="am__icon" data-am-ionicon="android-expand"></div>
    <div class="am__icon" data-am-ionicon="android-favorite"></div>
    <div class="am__icon" data-am-ionicon="android-favorite-outline"></div>
    <div class="am__icon" data-am-ionicon="android-film"></div>
    <div class="am__icon" data-am-ionicon="android-folder"></div>
    <div class="am__icon" data-am-ionicon="android-folder-open"></div>
    <div class="am__icon" data-am-ionicon="android-funnel"></div>
    <div class="am__icon" data-am-ionicon="android-globe"></div>
    <div class="am__icon" data-am-ionicon="android-hand"></div>
    <div class="am__icon" data-am-ionicon="android-hangout"></div>
    <div class="am__icon" data-am-ionicon="android-happy"></div>
    <div class="am__icon" data-am-ionicon="android-home"></div>
    <div class="am__icon" data-am-ionicon="android-image"></div>
    <div class="am__icon" data-am-ionicon="android-laptop"></div>
    <div class="am__icon" data-am-ionicon="android-list"></div>
    <div class="am__icon" data-am-ionicon="android-locate"></div>
    <div class="am__icon" data-am-ionicon="android-lock"></div>
    <div class="am__icon" data-am-ionicon="android-mail"></div>
    <div class="am__icon" data-am-ionicon="android-map"></div>
    <div class="am__icon" data-am-ionicon="android-menu"></div>
    <div class="am__icon" data-am-ionicon="android-microphone"></div>
    <div class="am__icon" data-am-ionicon="android-microphone-off"></div>
    <div class="am__icon" data-am-ionicon="android-more-horizontal"></div>
    <div class="am__icon" data-am-ionicon="android-more-vertical"></div>
    <div class="am__icon" data-am-ionicon="android-navigate"></div>
    <div class="am__icon" data-am-ionicon="android-notifications"></div>
    <div class="am__icon" data-am-ionicon="android-notifications-none"></div>
    <div class="am__icon" data-am-ionicon="android-notifications-off"></div>
    <div class="am__icon" data-am-ionicon="android-open"></div>
    <div class="am__icon" data-am-ionicon="android-options"></div>
    <div class="am__icon" data-am-ionicon="android-people"></div>
    <div class="am__icon" data-am-ionicon="android-person"></div>
    <div class="am__icon" data-am-ionicon="android-person-add"></div>
    <div class="am__icon" data-am-ionicon="android-phone-landscape"></div>
    <div class="am__icon" data-am-ionicon="android-phone-portrait"></div>
    <div class="am__icon" data-am-ionicon="android-pin"></div>
    <div class="am__icon" data-am-ionicon="android-plane"></div>
    <div class="am__icon" data-am-ionicon="android-playstore"></div>
    <div class="am__icon" data-am-ionicon="android-print"></div>
    <div class="am__icon" data-am-ionicon="android-radio-button-off"></div>
    <div class="am__icon" data-am-ionicon="android-radio-button-on"></div>
    <div class="am__icon" data-am-ionicon="android-refresh"></div>
    <div class="am__icon" data-am-ionicon="android-remove"></div>
    <div class="am__icon" data-am-ionicon="android-remove-circle"></div>
    <div class="am__icon" data-am-ionicon="android-restaurant"></div>
    <div class="am__icon" data-am-ionicon="android-sad"></div>
    <div class="am__icon" data-am-ionicon="android-search"></div>
    <div class="am__icon" data-am-ionicon="android-send"></div>
    <div class="am__icon" data-am-ionicon="android-settings"></div>
    <div class="am__icon" data-am-ionicon="android-share"></div>
    <div class="am__icon" data-am-ionicon="android-share-alt"></div>
    <div class="am__icon" data-am-ionicon="android-star"></div>
    <div class="am__icon" data-am-ionicon="android-star-half"></div>
    <div class="am__icon" data-am-ionicon="android-star-outline"></div>
    <div class="am__icon" data-am-ionicon="android-stopwatch"></div>
    <div class="am__icon" data-am-ionicon="android-subway"></div>
    <div class="am__icon" data-am-ionicon="android-sunny"></div>
    <div class="am__icon" data-am-ionicon="android-sync"></div>
    <div class="am__icon" data-am-ionicon="android-textsms"></div>
    <div class="am__icon" data-am-ionicon="android-time"></div>
    <div class="am__icon" data-am-ionicon="android-train"></div>
    <div class="am__icon" data-am-ionicon="android-unlock"></div>
    <div class="am__icon" data-am-ionicon="android-upload"></div>
    <div class="am__icon" data-am-ionicon="android-volume-down"></div>
    <div class="am__icon" data-am-ionicon="android-volume-mute"></div>
    <div class="am__icon" data-am-ionicon="android-volume-off"></div>
    <div class="am__icon" data-am-ionicon="android-volume-up"></div>
    <div class="am__icon" data-am-ionicon="android-walk"></div>
    <div class="am__icon" data-am-ionicon="android-warning"></div>
    <div class="am__icon" data-am-ionicon="android-watch"></div>
    <div class="am__icon" data-am-ionicon="android-wifi"></div>
    <div class="am__icon" data-am-ionicon="aperture"></div>
    <div class="am__icon" data-am-ionicon="archive"></div>
    <div class="am__icon" data-am-ionicon="arrow-down-a"></div>
    <div class="am__icon" data-am-ionicon="arrow-down-b"></div>
    <div class="am__icon" data-am-ionicon="arrow-down-c"></div>
    <div class="am__icon" data-am-ionicon="arrow-expand"></div>
    <div class="am__icon" data-am-ionicon="arrow-graph-down-left"></div>
    <div class="am__icon" data-am-ionicon="arrow-graph-down-right"></div>
    <div class="am__icon" data-am-ionicon="arrow-graph-up-left"></div>
    <div class="am__icon" data-am-ionicon="arrow-graph-up-right"></div>
    <div class="am__icon" data-am-ionicon="arrow-left-a"></div>
    <div class="am__icon" data-am-ionicon="arrow-left-b"></div>
    <div class="am__icon" data-am-ionicon="arrow-left-c"></div>
    <div class="am__icon" data-am-ionicon="arrow-move"></div>
    <div class="am__icon" data-am-ionicon="arrow-resize"></div>
    <div class="am__icon" data-am-ionicon="arrow-return-left"></div>
    <div class="am__icon" data-am-ionicon="arrow-return-right"></div>
    <div class="am__icon" data-am-ionicon="arrow-right-a"></div>
    <div class="am__icon" data-am-ionicon="arrow-right-b"></div>
    <div class="am__icon" data-am-ionicon="arrow-right-c"></div>
    <div class="am__icon" data-am-ionicon="arrow-shrink"></div>
    <div class="am__icon" data-am-ionicon="arrow-swap"></div>
    <div class="am__icon" data-am-ionicon="arrow-up-a"></div>
    <div class="am__icon" data-am-ionicon="arrow-up-b"></div>
    <div class="am__icon" data-am-ionicon="arrow-up-c"></div>
    <div class="am__icon" data-am-ionicon="asterisk"></div>
    <div class="am__icon" data-am-ionicon="at"></div>
    <div class="am__icon" data-am-ionicon="backspace"></div>
    <div class="am__icon" data-am-ionicon="backspace-outline"></div>
    <div class="am__icon" data-am-ionicon="bag"></div>
    <div class="am__icon" data-am-ionicon="battery-charging"></div>
    <div class="am__icon" data-am-ionicon="battery-empty"></div>
    <div class="am__icon" data-am-ionicon="battery-full"></div>
    <div class="am__icon" data-am-ionicon="battery-half"></div>
    <div class="am__icon" data-am-ionicon="battery-low"></div>
    <div class="am__icon" data-am-ionicon="beaker"></div>
    <div class="am__icon" data-am-ionicon="beer"></div>
    <div class="am__icon" data-am-ionicon="bluetooth"></div>
    <div class="am__icon" data-am-ionicon="bonfire"></div>
    <div class="am__icon" data-am-ionicon="bookmark"></div>
    <div class="am__icon" data-am-ionicon="bowtie"></div>
    <div class="am__icon" data-am-ionicon="briefcase"></div>
    <div class="am__icon" data-am-ionicon="bug"></div>
    <div class="am__icon" data-am-ionicon="calculator"></div>
    <div class="am__icon" data-am-ionicon="calendar"></div>
    <div class="am__icon" data-am-ionicon="camera"></div>
    <div class="am__icon" data-am-ionicon="card"></div>
    <div class="am__icon" data-am-ionicon="cash"></div>
    <div class="am__icon" data-am-ionicon="chatbox"></div>
    <div class="am__icon" data-am-ionicon="chatbox-working"></div>
    <div class="am__icon" data-am-ionicon="chatboxes"></div>
    <div class="am__icon" data-am-ionicon="chatbubble"></div>
    <div class="am__icon" data-am-ionicon="chatbubble-working"></div>
    <div class="am__icon" data-am-ionicon="chatbubbles"></div>
    <div class="am__icon" data-am-ionicon="checkmark"></div>
    <div class="am__icon" data-am-ionicon="checkmark-circled"></div>
    <div class="am__icon" data-am-ionicon="checkmark-round"></div>
    <div class="am__icon" data-am-ionicon="chevron-down"></div>
    <div class="am__icon" data-am-ionicon="chevron-left"></div>
    <div class="am__icon" data-am-ionicon="chevron-right"></div>
    <div class="am__icon" data-am-ionicon="chevron-up"></div>
    <div class="am__icon" data-am-ionicon="clipboard"></div>
    <div class="am__icon" data-am-ionicon="clock"></div>
    <div class="am__icon" data-am-ionicon="close"></div>
    <div class="am__icon" data-am-ionicon="close-circled"></div>
    <div class="am__icon" data-am-ionicon="close-round"></div>
    <div class="am__icon" data-am-ionicon="closed-captioning"></div>
    <div class="am__icon" data-am-ionicon="cloud"></div>
    <div class="am__icon" data-am-ionicon="code"></div>
    <div class="am__icon" data-am-ionicon="code-download"></div>
    <div class="am__icon" data-am-ionicon="code-working"></div>
    <div class="am__icon" data-am-ionicon="coffee"></div>
    <div class="am__icon" data-am-ionicon="compass"></div>
    <div class="am__icon" data-am-ionicon="compose"></div>
    <div class="am__icon" data-am-ionicon="connectbars"></div>
    <div class="am__icon" data-am-ionicon="contrast"></div>
    <div class="am__icon" data-am-ionicon="crop"></div>
    <div class="am__icon" data-am-ionicon="cube"></div>
    <div class="am__icon" data-am-ionicon="disc"></div>
    <div class="am__icon" data-am-ionicon="document"></div>
    <div class="am__icon" data-am-ionicon="document-text"></div>
    <div class="am__icon" data-am-ionicon="drag"></div>
    <div class="am__icon" data-am-ionicon="earth"></div>
    <div class="am__icon" data-am-ionicon="easel"></div>
    <div class="am__icon" data-am-ionicon="edit"></div>
    <div class="am__icon" data-am-ionicon="egg"></div>
    <div class="am__icon" data-am-ionicon="eject"></div>
    <div class="am__icon" data-am-ionicon="email"></div>
    <div class="am__icon" data-am-ionicon="email-unread"></div>
    <div class="am__icon" data-am-ionicon="erlenmeyer-flask"></div>
    <div class="am__icon" data-am-ionicon="erlenmeyer-flask-bubbles"></div>
    <div class="am__icon" data-am-ionicon="eye"></div>
    <div class="am__icon" data-am-ionicon="eye-disabled"></div>
    <div class="am__icon" data-am-ionicon="female"></div>
    <div class="am__icon" data-am-ionicon="filing"></div>
    <div class="am__icon" data-am-ionicon="film-marker"></div>
    <div class="am__icon" data-am-ionicon="fireball"></div>
    <div class="am__icon" data-am-ionicon="flag"></div>
    <div class="am__icon" data-am-ionicon="flame"></div>
    <div class="am__icon" data-am-ionicon="flash"></div>
    <div class="am__icon" data-am-ionicon="flash-off"></div>
    <div class="am__icon" data-am-ionicon="folder"></div>
    <div class="am__icon" data-am-ionicon="fork"></div>
    <div class="am__icon" data-am-ionicon="fork-repo"></div>
    <div class="am__icon" data-am-ionicon="forward"></div>
    <div class="am__icon" data-am-ionicon="funnel"></div>
    <div class="am__icon" data-am-ionicon="gear-a"></div>
    <div class="am__icon" data-am-ionicon="gear-b"></div>
    <div class="am__icon" data-am-ionicon="grid"></div>
    <div class="am__icon" data-am-ionicon="hammer"></div>
    <div class="am__icon" data-am-ionicon="happy"></div>
    <div class="am__icon" data-am-ionicon="happy-outline"></div>
    <div class="am__icon" data-am-ionicon="headphone"></div>
    <div class="am__icon" data-am-ionicon="heart"></div>
    <div class="am__icon" data-am-ionicon="heart-broken"></div>
    <div class="am__icon" data-am-ionicon="help"></div>
    <div class="am__icon" data-am-ionicon="help-buoy"></div>
    <div class="am__icon" data-am-ionicon="help-circled"></div>
    <div class="am__icon" data-am-ionicon="home"></div>
    <div class="am__icon" data-am-ionicon="icecream"></div>
    <div class="am__icon" data-am-ionicon="image"></div>
    <div class="am__icon" data-am-ionicon="images"></div>
    <div class="am__icon" data-am-ionicon="information"></div>
    <div class="am__icon" data-am-ionicon="information-circled"></div>
    <div class="am__icon" data-am-ionicon="ionic"></div>
    <div class="am__icon" data-am-ionicon="ios-alarm"></div>
    <div class="am__icon" data-am-ionicon="ios-alarm-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-albums"></div>
    <div class="am__icon" data-am-ionicon="ios-albums-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-americanfootball"></div>
    <div class="am__icon" data-am-ionicon="ios-americanfootball-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-analytics"></div>
    <div class="am__icon" data-am-ionicon="ios-analytics-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-arrow-back"></div>
    <div class="am__icon" data-am-ionicon="ios-arrow-down"></div>
    <div class="am__icon" data-am-ionicon="ios-arrow-forward"></div>
    <div class="am__icon" data-am-ionicon="ios-arrow-left"></div>
    <div class="am__icon" data-am-ionicon="ios-arrow-right"></div>
    <div class="am__icon" data-am-ionicon="ios-arrow-thin-down"></div>
    <div class="am__icon" data-am-ionicon="ios-arrow-thin-left"></div>
    <div class="am__icon" data-am-ionicon="ios-arrow-thin-right"></div>
    <div class="am__icon" data-am-ionicon="ios-arrow-thin-up"></div>
    <div class="am__icon" data-am-ionicon="ios-arrow-up"></div>
    <div class="am__icon" data-am-ionicon="ios-at"></div>
    <div class="am__icon" data-am-ionicon="ios-at-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-barcode"></div>
    <div class="am__icon" data-am-ionicon="ios-barcode-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-baseball"></div>
    <div class="am__icon" data-am-ionicon="ios-baseball-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-basketball"></div>
    <div class="am__icon" data-am-ionicon="ios-basketball-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-bell"></div>
    <div class="am__icon" data-am-ionicon="ios-bell-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-body"></div>
    <div class="am__icon" data-am-ionicon="ios-body-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-bolt"></div>
    <div class="am__icon" data-am-ionicon="ios-bolt-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-book"></div>
    <div class="am__icon" data-am-ionicon="ios-book-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-bookmarks"></div>
    <div class="am__icon" data-am-ionicon="ios-bookmarks-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-box"></div>
    <div class="am__icon" data-am-ionicon="ios-box-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-briefcase"></div>
    <div class="am__icon" data-am-ionicon="ios-briefcase-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-browsers"></div>
    <div class="am__icon" data-am-ionicon="ios-browsers-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-calculator"></div>
    <div class="am__icon" data-am-ionicon="ios-calculator-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-calendar"></div>
    <div class="am__icon" data-am-ionicon="ios-calendar-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-camera"></div>
    <div class="am__icon" data-am-ionicon="ios-camera-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-cart"></div>
    <div class="am__icon" data-am-ionicon="ios-cart-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-chatboxes"></div>
    <div class="am__icon" data-am-ionicon="ios-chatboxes-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-chatbubble"></div>
    <div class="am__icon" data-am-ionicon="ios-chatbubble-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-checkmark"></div>
    <div class="am__icon" data-am-ionicon="ios-checkmark-empty"></div>
    <div class="am__icon" data-am-ionicon="ios-checkmark-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-circle-filled"></div>
    <div class="am__icon" data-am-ionicon="ios-circle-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-clock"></div>
    <div class="am__icon" data-am-ionicon="ios-clock-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-close"></div>
    <div class="am__icon" data-am-ionicon="ios-close-empty"></div>
    <div class="am__icon" data-am-ionicon="ios-close-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-cloud"></div>
    <div class="am__icon" data-am-ionicon="ios-cloud-download"></div>
    <div class="am__icon" data-am-ionicon="ios-cloud-download-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-cloud-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-cloud-upload"></div>
    <div class="am__icon" data-am-ionicon="ios-cloud-upload-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-cloudy"></div>
    <div class="am__icon" data-am-ionicon="ios-cloudy-night"></div>
    <div class="am__icon" data-am-ionicon="ios-cloudy-night-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-cloudy-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-cog"></div>
    <div class="am__icon" data-am-ionicon="ios-cog-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-color-filter"></div>
    <div class="am__icon" data-am-ionicon="ios-color-filter-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-color-wand"></div>
    <div class="am__icon" data-am-ionicon="ios-color-wand-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-compose"></div>
    <div class="am__icon" data-am-ionicon="ios-compose-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-contact"></div>
    <div class="am__icon" data-am-ionicon="ios-contact-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-copy"></div>
    <div class="am__icon" data-am-ionicon="ios-copy-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-crop"></div>
    <div class="am__icon" data-am-ionicon="ios-crop-strong"></div>
    <div class="am__icon" data-am-ionicon="ios-download"></div>
    <div class="am__icon" data-am-ionicon="ios-download-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-drag"></div>
    <div class="am__icon" data-am-ionicon="ios-email"></div>
    <div class="am__icon" data-am-ionicon="ios-email-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-eye"></div>
    <div class="am__icon" data-am-ionicon="ios-eye-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-fastforward"></div>
    <div class="am__icon" data-am-ionicon="ios-fastforward-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-filing"></div>
    <div class="am__icon" data-am-ionicon="ios-filing-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-film"></div>
    <div class="am__icon" data-am-ionicon="ios-film-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-flag"></div>
    <div class="am__icon" data-am-ionicon="ios-flag-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-flame"></div>
    <div class="am__icon" data-am-ionicon="ios-flame-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-flask"></div>
    <div class="am__icon" data-am-ionicon="ios-flask-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-flower"></div>
    <div class="am__icon" data-am-ionicon="ios-flower-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-folder"></div>
    <div class="am__icon" data-am-ionicon="ios-folder-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-football"></div>
    <div class="am__icon" data-am-ionicon="ios-football-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-game-controller-a"></div>
    <div class="am__icon" data-am-ionicon="ios-game-controller-a-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-game-controller-b"></div>
    <div class="am__icon" data-am-ionicon="ios-game-controller-b-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-gear"></div>
    <div class="am__icon" data-am-ionicon="ios-gear-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-glasses"></div>
    <div class="am__icon" data-am-ionicon="ios-glasses-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-grid-view"></div>
    <div class="am__icon" data-am-ionicon="ios-grid-view-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-heart"></div>
    <div class="am__icon" data-am-ionicon="ios-heart-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-help"></div>
    <div class="am__icon" data-am-ionicon="ios-help-empty"></div>
    <div class="am__icon" data-am-ionicon="ios-help-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-home"></div>
    <div class="am__icon" data-am-ionicon="ios-home-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-infinite"></div>
    <div class="am__icon" data-am-ionicon="ios-infinite-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-information"></div>
    <div class="am__icon" data-am-ionicon="ios-informatempty"></div>
    <div class="am__icon" data-am-ionicon="ios-informatoutline"></div>
    <div class="am__icon" data-am-ionicon="ios-ionic-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-keypad"></div>
    <div class="am__icon" data-am-ionicon="ios-keypad-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-lightbulb"></div>
    <div class="am__icon" data-am-ionicon="ios-lightbulb-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-list"></div>
    <div class="am__icon" data-am-ionicon="ios-list-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-location"></div>
    <div class="am__icon" data-am-ionicon="ios-locatoutline"></div>
    <div class="am__icon" data-am-ionicon="ios-locked"></div>
    <div class="am__icon" data-am-ionicon="ios-locked-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-loop"></div>
    <div class="am__icon" data-am-ionicon="ios-loop-strong"></div>
    <div class="am__icon" data-am-ionicon="ios-medical"></div>
    <div class="am__icon" data-am-ionicon="ios-medical-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-medkit"></div>
    <div class="am__icon" data-am-ionicon="ios-medkit-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-mic"></div>
    <div class="am__icon" data-am-ionicon="ios-mic-off"></div>
    <div class="am__icon" data-am-ionicon="ios-mic-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-minus"></div>
    <div class="am__icon" data-am-ionicon="ios-minus-empty"></div>
    <div class="am__icon" data-am-ionicon="ios-minus-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-monitor"></div>
    <div class="am__icon" data-am-ionicon="ios-monitor-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-moon"></div>
    <div class="am__icon" data-am-ionicon="ios-moon-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-more"></div>
    <div class="am__icon" data-am-ionicon="ios-more-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-musical-note"></div>
    <div class="am__icon" data-am-ionicon="ios-musical-notes"></div>
    <div class="am__icon" data-am-ionicon="ios-navigate"></div>
    <div class="am__icon" data-am-ionicon="ios-navigate-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-nutrition"></div>
    <div class="am__icon" data-am-ionicon="ios-nutritoutline"></div>
    <div class="am__icon" data-am-ionicon="ios-paper"></div>
    <div class="am__icon" data-am-ionicon="ios-paper-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-paperplane"></div>
    <div class="am__icon" data-am-ionicon="ios-paperplane-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-partlysunny"></div>
    <div class="am__icon" data-am-ionicon="ios-partlysunny-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-pause"></div>
    <div class="am__icon" data-am-ionicon="ios-pause-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-paw"></div>
    <div class="am__icon" data-am-ionicon="ios-paw-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-people"></div>
    <div class="am__icon" data-am-ionicon="ios-people-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-person"></div>
    <div class="am__icon" data-am-ionicon="ios-person-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-personadd"></div>
    <div class="am__icon" data-am-ionicon="ios-personadd-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-photos"></div>
    <div class="am__icon" data-am-ionicon="ios-photos-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-pie"></div>
    <div class="am__icon" data-am-ionicon="ios-pie-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-pint"></div>
    <div class="am__icon" data-am-ionicon="ios-pint-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-play"></div>
    <div class="am__icon" data-am-ionicon="ios-play-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-plus"></div>
    <div class="am__icon" data-am-ionicon="ios-plus-empty"></div>
    <div class="am__icon" data-am-ionicon="ios-plus-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-pricetag"></div>
    <div class="am__icon" data-am-ionicon="ios-pricetag-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-pricetags"></div>
    <div class="am__icon" data-am-ionicon="ios-pricetags-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-printer"></div>
    <div class="am__icon" data-am-ionicon="ios-printer-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-pulse"></div>
    <div class="am__icon" data-am-ionicon="ios-pulse-strong"></div>
    <div class="am__icon" data-am-ionicon="ios-rainy"></div>
    <div class="am__icon" data-am-ionicon="ios-rainy-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-recording"></div>
    <div class="am__icon" data-am-ionicon="ios-recording-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-redo"></div>
    <div class="am__icon" data-am-ionicon="ios-redo-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-refresh"></div>
    <div class="am__icon" data-am-ionicon="ios-refresh-empty"></div>
    <div class="am__icon" data-am-ionicon="ios-refresh-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-reload"></div>
    <div class="am__icon" data-am-ionicon="ios-reverse-camera"></div>
    <div class="am__icon" data-am-ionicon="ios-reverse-camera-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-rewind"></div>
    <div class="am__icon" data-am-ionicon="ios-rewind-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-rose"></div>
    <div class="am__icon" data-am-ionicon="ios-rose-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-search"></div>
    <div class="am__icon" data-am-ionicon="ios-search-strong"></div>
    <div class="am__icon" data-am-ionicon="ios-settings"></div>
    <div class="am__icon" data-am-ionicon="ios-settings-strong"></div>
    <div class="am__icon" data-am-ionicon="ios-shuffle"></div>
    <div class="am__icon" data-am-ionicon="ios-shuffle-strong"></div>
    <div class="am__icon" data-am-ionicon="ios-skipbackward"></div>
    <div class="am__icon" data-am-ionicon="ios-skipbackward-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-skipforward"></div>
    <div class="am__icon" data-am-ionicon="ios-skipforward-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-snowy"></div>
    <div class="am__icon" data-am-ionicon="ios-speedometer"></div>
    <div class="am__icon" data-am-ionicon="ios-speedometer-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-star"></div>
    <div class="am__icon" data-am-ionicon="ios-star-half"></div>
    <div class="am__icon" data-am-ionicon="ios-star-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-stopwatch"></div>
    <div class="am__icon" data-am-ionicon="ios-stopwatch-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-sunny"></div>
    <div class="am__icon" data-am-ionicon="ios-sunny-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-telephone"></div>
    <div class="am__icon" data-am-ionicon="ios-telephone-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-tennisball"></div>
    <div class="am__icon" data-am-ionicon="ios-tennisball-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-thunderstorm"></div>
    <div class="am__icon" data-am-ionicon="ios-thunderstorm-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-time"></div>
    <div class="am__icon" data-am-ionicon="ios-time-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-timer"></div>
    <div class="am__icon" data-am-ionicon="ios-timer-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-toggle"></div>
    <div class="am__icon" data-am-ionicon="ios-toggle-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-trash"></div>
    <div class="am__icon" data-am-ionicon="ios-trash-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-undo"></div>
    <div class="am__icon" data-am-ionicon="ios-undo-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-unlocked"></div>
    <div class="am__icon" data-am-ionicon="ios-unlocked-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-upload"></div>
    <div class="am__icon" data-am-ionicon="ios-upload-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-videocam"></div>
    <div class="am__icon" data-am-ionicon="ios-videocam-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-volume-high"></div>
    <div class="am__icon" data-am-ionicon="ios-volume-low"></div>
    <div class="am__icon" data-am-ionicon="ios-wineglass"></div>
    <div class="am__icon" data-am-ionicon="ios-wineglass-outline"></div>
    <div class="am__icon" data-am-ionicon="ios-world"></div>
    <div class="am__icon" data-am-ionicon="ios-world-outline"></div>
    <div class="am__icon" data-am-ionicon="ipad"></div>
    <div class="am__icon" data-am-ionicon="iphone"></div>
    <div class="am__icon" data-am-ionicon="ipod"></div>
    <div class="am__icon" data-am-ionicon="jet"></div>
    <div class="am__icon" data-am-ionicon="key"></div>
    <div class="am__icon" data-am-ionicon="knife"></div>
    <div class="am__icon" data-am-ionicon="laptop"></div>
    <div class="am__icon" data-am-ionicon="leaf"></div>
    <div class="am__icon" data-am-ionicon="levels"></div>
    <div class="am__icon" data-am-ionicon="lightbulb"></div>
    <div class="am__icon" data-am-ionicon="link"></div>
    <div class="am__icon" data-am-ionicon="load-a"></div>
    <div class="am__icon" data-am-ionicon="load-b"></div>
    <div class="am__icon" data-am-ionicon="load-c"></div>
    <div class="am__icon" data-am-ionicon="load-d"></div>
    <div class="am__icon" data-am-ionicon="location"></div>
    <div class="am__icon" data-am-ionicon="lock-combination"></div>
    <div class="am__icon" data-am-ionicon="locked"></div>
    <div class="am__icon" data-am-ionicon="log-in"></div>
    <div class="am__icon" data-am-ionicon="log-out"></div>
    <div class="am__icon" data-am-ionicon="loop"></div>
    <div class="am__icon" data-am-ionicon="magnet"></div>
    <div class="am__icon" data-am-ionicon="male"></div>
    <div class="am__icon" data-am-ionicon="man"></div>
    <div class="am__icon" data-am-ionicon="map"></div>
    <div class="am__icon" data-am-ionicon="medkit"></div>
    <div class="am__icon" data-am-ionicon="merge"></div>
    <div class="am__icon" data-am-ionicon="mic-a"></div>
    <div class="am__icon" data-am-ionicon="mic-b"></div>
    <div class="am__icon" data-am-ionicon="mic-c"></div>
    <div class="am__icon" data-am-ionicon="minus"></div>
    <div class="am__icon" data-am-ionicon="minus-circled"></div>
    <div class="am__icon" data-am-ionicon="minus-round"></div>
    <div class="am__icon" data-am-ionicon="model-s"></div>
    <div class="am__icon" data-am-ionicon="monitor"></div>
    <div class="am__icon" data-am-ionicon="more"></div>
    <div class="am__icon" data-am-ionicon="mouse"></div>
    <div class="am__icon" data-am-ionicon="music-note"></div>
    <div class="am__icon" data-am-ionicon="navicon"></div>
    <div class="am__icon" data-am-ionicon="navicon-round"></div>
    <div class="am__icon" data-am-ionicon="navigate"></div>
    <div class="am__icon" data-am-ionicon="network"></div>
    <div class="am__icon" data-am-ionicon="no-smoking"></div>
    <div class="am__icon" data-am-ionicon="nuclear"></div>
    <div class="am__icon" data-am-ionicon="outlet"></div>
    <div class="am__icon" data-am-ionicon="paintbrush"></div>
    <div class="am__icon" data-am-ionicon="paintbucket"></div>
    <div class="am__icon" data-am-ionicon="paper-airplane"></div>
    <div class="am__icon" data-am-ionicon="paperclip"></div>
    <div class="am__icon" data-am-ionicon="pause"></div>
    <div class="am__icon" data-am-ionicon="person"></div>
    <div class="am__icon" data-am-ionicon="person-add"></div>
    <div class="am__icon" data-am-ionicon="person-stalker"></div>
    <div class="am__icon" data-am-ionicon="pie-graph"></div>
    <div class="am__icon" data-am-ionicon="pin"></div>
    <div class="am__icon" data-am-ionicon="pinpoint"></div>
    <div class="am__icon" data-am-ionicon="pizza"></div>
    <div class="am__icon" data-am-ionicon="plane"></div>
    <div class="am__icon" data-am-ionicon="planet"></div>
    <div class="am__icon" data-am-ionicon="play"></div>
    <div class="am__icon" data-am-ionicon="playstation"></div>
    <div class="am__icon" data-am-ionicon="plus"></div>
    <div class="am__icon" data-am-ionicon="plus-circled"></div>
    <div class="am__icon" data-am-ionicon="plus-round"></div>
    <div class="am__icon" data-am-ionicon="podium"></div>
    <div class="am__icon" data-am-ionicon="pound"></div>
    <div class="am__icon" data-am-ionicon="power"></div>
    <div class="am__icon" data-am-ionicon="pricetag"></div>
    <div class="am__icon" data-am-ionicon="pricetags"></div>
    <div class="am__icon" data-am-ionicon="printer"></div>
    <div class="am__icon" data-am-ionicon="pull-request"></div>
    <div class="am__icon" data-am-ionicon="qr-scanner"></div>
    <div class="am__icon" data-am-ionicon="quote"></div>
    <div class="am__icon" data-am-ionicon="radio-waves"></div>
    <div class="am__icon" data-am-ionicon="record"></div>
    <div class="am__icon" data-am-ionicon="refresh"></div>
    <div class="am__icon" data-am-ionicon="reply"></div>
    <div class="am__icon" data-am-ionicon="reply-all"></div>
    <div class="am__icon" data-am-ionicon="ribbon-a"></div>
    <div class="am__icon" data-am-ionicon="ribbon-b"></div>
    <div class="am__icon" data-am-ionicon="sad"></div>
    <div class="am__icon" data-am-ionicon="sad-outline"></div>
    <div class="am__icon" data-am-ionicon="scissors"></div>
    <div class="am__icon" data-am-ionicon="search"></div>
    <div class="am__icon" data-am-ionicon="settings"></div>
    <div class="am__icon" data-am-ionicon="share"></div>
    <div class="am__icon" data-am-ionicon="shuffle"></div>
    <div class="am__icon" data-am-ionicon="skip-backward"></div>
    <div class="am__icon" data-am-ionicon="skip-forward"></div>
    <div class="am__icon" data-am-ionicon="social-android"></div>
    <div class="am__icon" data-am-ionicon="social-android-outline"></div>
    <div class="am__icon" data-am-ionicon="social-angular"></div>
    <div class="am__icon" data-am-ionicon="social-angular-outline"></div>
    <div class="am__icon" data-am-ionicon="social-apple"></div>
    <div class="am__icon" data-am-ionicon="social-apple-outline"></div>
    <div class="am__icon" data-am-ionicon="social-bitcoin"></div>
    <div class="am__icon" data-am-ionicon="social-bitcoin-outline"></div>
    <div class="am__icon" data-am-ionicon="social-buffer"></div>
    <div class="am__icon" data-am-ionicon="social-buffer-outline"></div>
    <div class="am__icon" data-am-ionicon="social-chrome"></div>
    <div class="am__icon" data-am-ionicon="social-chrome-outline"></div>
    <div class="am__icon" data-am-ionicon="social-codepen"></div>
    <div class="am__icon" data-am-ionicon="social-codepen-outline"></div>
    <div class="am__icon" data-am-ionicon="social-css3"></div>
    <div class="am__icon" data-am-ionicon="social-css3-outline"></div>
    <div class="am__icon" data-am-ionicon="social-designernews"></div>
    <div class="am__icon" data-am-ionicon="social-designernews-outline"></div>
    <div class="am__icon" data-am-ionicon="social-dribbble"></div>
    <div class="am__icon" data-am-ionicon="social-dribbble-outline"></div>
    <div class="am__icon" data-am-ionicon="social-dropbox"></div>
    <div class="am__icon" data-am-ionicon="social-dropbox-outline"></div>
    <div class="am__icon" data-am-ionicon="social-euro"></div>
    <div class="am__icon" data-am-ionicon="social-euro-outline"></div>
    <div class="am__icon" data-am-ionicon="social-facebook"></div>
    <div class="am__icon" data-am-ionicon="social-facebook-outline"></div>
    <div class="am__icon" data-am-ionicon="social-foursquare"></div>
    <div class="am__icon" data-am-ionicon="social-foursquare-outline"></div>
    <div class="am__icon" data-am-ionicon="social-freebsd-devil"></div>
    <div class="am__icon" data-am-ionicon="social-github"></div>
    <div class="am__icon" data-am-ionicon="social-github-outline"></div>
    <div class="am__icon" data-am-ionicon="social-google"></div>
    <div class="am__icon" data-am-ionicon="social-google-outline"></div>
    <div class="am__icon" data-am-ionicon="social-googleplus"></div>
    <div class="am__icon" data-am-ionicon="social-googleplus-outline"></div>
    <div class="am__icon" data-am-ionicon="social-hackernews"></div>
    <div class="am__icon" data-am-ionicon="social-hackernews-outline"></div>
    <div class="am__icon" data-am-ionicon="social-html5"></div>
    <div class="am__icon" data-am-ionicon="social-html5-outline"></div>
    <div class="am__icon" data-am-ionicon="social-instagram"></div>
    <div class="am__icon" data-am-ionicon="social-instagram-outline"></div>
    <div class="am__icon" data-am-ionicon="social-javascript"></div>
    <div class="am__icon" data-am-ionicon="social-javascript-outline"></div>
    <div class="am__icon" data-am-ionicon="social-linkedin"></div>
    <div class="am__icon" data-am-ionicon="social-linkedin-outline"></div>
    <div class="am__icon" data-am-ionicon="social-markdown"></div>
    <div class="am__icon" data-am-ionicon="social-nodejs"></div>
    <div class="am__icon" data-am-ionicon="social-octocat"></div>
    <div class="am__icon" data-am-ionicon="social-pinterest"></div>
    <div class="am__icon" data-am-ionicon="social-pinterest-outline"></div>
    <div class="am__icon" data-am-ionicon="social-python"></div>
    <div class="am__icon" data-am-ionicon="social-reddit"></div>
    <div class="am__icon" data-am-ionicon="social-reddit-outline"></div>
    <div class="am__icon" data-am-ionicon="social-rss"></div>
    <div class="am__icon" data-am-ionicon="social-rss-outline"></div>
    <div class="am__icon" data-am-ionicon="social-sass"></div>
    <div class="am__icon" data-am-ionicon="social-skype"></div>
    <div class="am__icon" data-am-ionicon="social-skype-outline"></div>
    <div class="am__icon" data-am-ionicon="social-snapchat"></div>
    <div class="am__icon" data-am-ionicon="social-snapchat-outline"></div>
    <div class="am__icon" data-am-ionicon="social-tumblr"></div>
    <div class="am__icon" data-am-ionicon="social-tumblr-outline"></div>
    <div class="am__icon" data-am-ionicon="social-tux"></div>
    <div class="am__icon" data-am-ionicon="social-twitch"></div>
    <div class="am__icon" data-am-ionicon="social-twitch-outline"></div>
    <div class="am__icon" data-am-ionicon="social-twitter"></div>
    <div class="am__icon" data-am-ionicon="social-twitter-outline"></div>
    <div class="am__icon" data-am-ionicon="social-usd"></div>
    <div class="am__icon" data-am-ionicon="social-usd-outline"></div>
    <div class="am__icon" data-am-ionicon="social-vimeo"></div>
    <div class="am__icon" data-am-ionicon="social-vimeo-outline"></div>
    <div class="am__icon" data-am-ionicon="social-whatsapp"></div>
    <div class="am__icon" data-am-ionicon="social-whatsapp-outline"></div>
    <div class="am__icon" data-am-ionicon="social-windows"></div>
    <div class="am__icon" data-am-ionicon="social-windows-outline"></div>
    <div class="am__icon" data-am-ionicon="social-wordpress"></div>
    <div class="am__icon" data-am-ionicon="social-wordpress-outline"></div>
    <div class="am__icon" data-am-ionicon="social-yahoo"></div>
    <div class="am__icon" data-am-ionicon="social-yahoo-outline"></div>
    <div class="am__icon" data-am-ionicon="social-yen"></div>
    <div class="am__icon" data-am-ionicon="social-yen-outline"></div>
    <div class="am__icon" data-am-ionicon="social-youtube"></div>
    <div class="am__icon" data-am-ionicon="social-youtube-outline"></div>
    <div class="am__icon" data-am-ionicon="soup-can"></div>
    <div class="am__icon" data-am-ionicon="soup-can-outline"></div>
    <div class="am__icon" data-am-ionicon="speakerphone"></div>
    <div class="am__icon" data-am-ionicon="speedometer"></div>
    <div class="am__icon" data-am-ionicon="spoon"></div>
    <div class="am__icon" data-am-ionicon="star"></div>
    <div class="am__icon" data-am-ionicon="stats-bars"></div>
    <div class="am__icon" data-am-ionicon="steam"></div>
    <div class="am__icon" data-am-ionicon="stop"></div>
    <div class="am__icon" data-am-ionicon="thermometer"></div>
    <div class="am__icon" data-am-ionicon="thumbsdown"></div>
    <div class="am__icon" data-am-ionicon="thumbsup"></div>
    <div class="am__icon" data-am-ionicon="toggle"></div>
    <div class="am__icon" data-am-ionicon="toggle-filled"></div>
    <div class="am__icon" data-am-ionicon="transgender"></div>
    <div class="am__icon" data-am-ionicon="trash-a"></div>
    <div class="am__icon" data-am-ionicon="trash-b"></div>
    <div class="am__icon" data-am-ionicon="trophy"></div>
    <div class="am__icon" data-am-ionicon="tshirt"></div>
    <div class="am__icon" data-am-ionicon="tshirt-outline"></div>
    <div class="am__icon" data-am-ionicon="umbrella"></div>
    <div class="am__icon" data-am-ionicon="university"></div>
    <div class="am__icon" data-am-ionicon="unlocked"></div>
    <div class="am__icon" data-am-ionicon="upload"></div>
    <div class="am__icon" data-am-ionicon="usb"></div>
    <div class="am__icon" data-am-ionicon="videocamera"></div>
    <div class="am__icon" data-am-ionicon="volume-high"></div>
    <div class="am__icon" data-am-ionicon="volume-low"></div>
    <div class="am__icon" data-am-ionicon="volume-medium"></div>
    <div class="am__icon" data-am-ionicon="volume-mute"></div>
    <div class="am__icon" data-am-ionicon="wand"></div>
    <div class="am__icon" data-am-ionicon="waterdrop"></div>
    <div class="am__icon" data-am-ionicon="wifi"></div>
    <div class="am__icon" data-am-ionicon="wineglass"></div>
    <div class="am__icon" data-am-ionicon="woman"></div>
    <div class="am__icon" data-am-ionicon="wrench"></div>
    <div class="am__icon" data-am-ionicon="xbox"></div>
  </section>
</template>
